@model NMCPipedGasLineAPI.Models.ForgotPwd
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Forgot Password</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link rel="icon" href="~/img/favicon.png" />
    <!-- Bootstrap core CSS-->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Content/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="bgGradient"></div>
        <div class="auth-form">

            <div class="login-div main-div">
                <div class="panel">
                    <a href="index.html"><img src="~/img/logo.svg" class="panel-logo" alt="NMC" /></a>
                    <h2>Forgot Password</h2>
                </div>
                @using (Html.BeginForm("ForgotPassword", "Payment", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "ForgotPassword" }))
                {
                    @Html.AntiForgeryToken()
                    if (TempData["MessageFailed"] != null && TempData["MessageFailed"] != "")
                    {
                        <div id="lbl" class="alert alert-danger">
                            @TempData["MessageFailed"]
                        </div>
                    }
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", @placeholder = "Customer Id" })
                        @Html.ValidationMessageFor(m => m.EmailId, "", new { @class = "text-danger" })
                    </div>
                    <br />

                    <button type="submit" class="btn btn-primary btn-block">Forgot Password</button>
                    <br />
                    <a href="~/Payment/Login">Login</a>
                    <div class="alert alert-default"></div>

                }
            </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>


<style>

    .field-validation-error {
        float: left;
    }
</style>