@model NMCPipedGasLineAPI.Models.RateImport
@{
    /**/

    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Import", "ExcelImport", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div id="content" class="padding-20">
        <!-- /File Import panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="elipsis">
                    <!-- panel title -->
                    <strong>File Import</strong>
                </span>
            </div>
            <!-- panel content -->
            <div class="panel-body">
                @if (TempData["MessageSuccess"] != null && TempData["MessageSuccess"] != "")
                {
                    <div id="lbl" class="alert alert-success">
                        @TempData["MessageSuccess"]
                    </div>
                }
                @if (TempData["MessageFailed"] != null && TempData["MessageFailed"] != "")
                {
                    <div id="lbl" class="alert alert-danger">
                        @TempData["MessageFailed"]
                    </div>
                }
                <div class="row">
                    @*<div class="col-lg-6">

                            <div class="form-group">
                                <label>File Path <span style="color:red">*</span></label>
                                @Html.TextBoxFor(model => model.ImportPath, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ImportPath, "", new { @class = "field-validation-valid text-danger" })
                            </div>

                        </div>*@

                    <div class="form-group col-md-6">
                        <label for="inputExcel">Excel file</label>
                        <div class="custom-file">
                            @*class="custom-file-input"*@   @*class="custom-file-label"*@
                            <input type="file" style="color:green;" id="FileUpload" name="FileUpload">
                            @*<label  for="customFile">File Upload</label>*@
                            <p class="text-danger">Please Upload Files in .xls, .xlsx  format</p>
                        </div>
                        @if (ViewBag.Error != null)
                        {

                            <div style="color:red;">

                                @(ViewBag.Error != null ? ViewBag.Error.ToString() : "")
                            </div>

                        }
                    </div>
                    <button class="btn btn-default" type="submit" value="Import" data-toggle="modal">
                        Import
                    </button>
                    <button id="btnCancel" type="button" value="Cancel" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
         $("#btnCancel").click(function () {
       // window.location.href = '@Url.Action("","")'
    });

</script>